---
---
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


//********************************************************
//                    Header
//********************************************************
nav {
  background-color: #222;
  border-color: #080808;
  opacity: 0.95;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  padding: 0 10px !important;
  border-top: 2px #c98e0e solid;
  border-bottom: 1px #222 solid;
  .navbar-brand, .nav-link {
   color: #c98e0e;
   @include transition(color 0.31s);
   transition: all .7s ease;
  }
  .navbar-brand:hover, .nav-link:hover {
    color: white !important;
  }
  .navbar-brand {
    font-size: 30px;
    color: #c98e0e;
  }
  .navbar-nav {
    margin-left: auto;
  }
  .navbar.shrink {
    min-height: 15px !important;
  }
  .navbar-toggler {
    margin: 13px 15px 13px 0;
  }
  .shrink .navbar-toggler {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
  }
}

nav.shrink {
  a {
    font-size: 15px;
    padding: 0 10px !important;
  }
  .navbar-brand {
    font-size: 25px;
    height: inherit;
  }
}
